<a href="https://colab.research.google.com/github/OlehVakulchyk/DataScience/blob/main/Hw3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

file_id = '1-rAa4XT4_fI0dOBlMNuE6a7jB0wln_Qo'
url = f'https://drive.google.com/uc?id={file_id}'
price_house = pd.read_csv(url)
price_house

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

напишіть функцію гіпотези лінійної регресії у векторному вигляді;

In [2]:
# X -  матриця ознак з першим стовпчиком з одиниць
# w - вектор ваг
def h(X, w):
  return X @ w

створіть функцію для обчислення функції втрат у векторному вигляді;

In [3]:
def mse(X, y, w):
  return (((h(X, w))-y) @ (h(X, w))-y) / (2 * len(X))

реалізуйте один крок градієнтного спуску;

In [4]:
def gradient_step(X, y, w, learning_rate):
  gradient_mse = (X.T @ (h(X, w) - y))/len(X)
  w = w - learning_rate * gradient_mse
  return w

знайдіть найкращі параметри $\vec{w}$ для датасету прогнозуючу ціну на будинок залежно від площі, кількості ванних кімнат та кількості спалень;

In [10]:
from sklearn.linear_model import LinearRegression
y = price_house['price']
X = price_house[['area', 'bedrooms', 'bathrooms']]
regressor = LinearRegression().fit(X, y)
regressor.coef_, regressor.intercept_

(array([3.78762754e+02, 4.06820034e+05, 1.38604950e+06]), -173171.6076326361)

знайдіть ці ж параметри за допомогою аналітичного рішення;

In [11]:
# pandas
x_1 = pd.Series(np.ones((len(X),), dtype=int))
X_1 = pd.concat([x_1,X], axis=1)
w = np.linalg.inv(X_1.T@X_1)@X_1.T@y
w

0   -1.731716e+05
1    3.787628e+02
2    4.068200e+05
3    1.386049e+06
dtype: float64

In [12]:
# numpy
X1 = np.array(X_1)
w = np.linalg.inv(X1.T@X1)@X1.T@y
w

array([-1.73171608e+05,  3.78762754e+02,  4.06820034e+05,  1.38604950e+06])

порівняйте отримані результати.

Параметри, знайдені за допомогою бібліотеки sklearn(лінійної регресії)  співпадають з аналітичним рішенням з точністю до 9 знаків